:root {
  --mat-green: #4CAF50;
  --mat-dark-green: #388E3C;
  --mat-teal: #009688;
  --mat-cyan: #00BCD4;
  --mat-white: #F5F5F5;
  --mat-dark-teal: #00796B;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: var(--mat-white);
  color: #616161;
  margin: 0;
}

.page-header {
  text-align: center;
  background-color: #4CAF50;
  background: linear-gradient(var(--mat-teal), var(--mat-green));
  margin:0;
  padding: 4em;
}

.project-name {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 5em;
  margin: 0;
  color: var(--mat-white);
  text-shadow: 0 0 1em black;
}

.project-tagline {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.3em;
  color: var(--mat-white);
}

.main-content {
  padding: 1em;
  max-width: 60em;
  margin:auto;
  font-size: 1.3em;
}

.main-content h3 {
  color: var(--mat-dark-green);
  font-family: "Roboto", sans-serif;
}

.main-content {
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
  color: var(--mat-teal);
}

a:hover {
  text-decoration: underline;
  color: var(--mat-dark-teal);
}

ul a li {
  background-color: #4CAF50;
  background: linear-gradient(to right, var(--mat-green), var(--mat-teal));
  width: 10em;
  margin: 1em;
  padding: 1em;
  color: var(--mat-white);
  text-decoration: none;
  transition: box-shadow .25s, padding .25s;
}

ul a:hover {
  text-decoration: none;
}

ul a:hover li {
  box-shadow: 0 0 .1em black;
}

.large-button:hover {
  text-decoration: none;
}

.large-button {
  text-align: center;
}

.large-button div {
  background-color: #4CAF50;
  background: linear-gradient(to right, var(--mat-green), var(--mat-teal));
  width: 10em;
  margin: auto;
  padding: 1em;
  color: var(--mat-white);
  text-decoration: none;
  transition: box-shadow .25s, padding .25s;
}

.large-button div img {
  position: relative;
  float:left;
  top:-.5em;
  left:-.3em;
}

.large-button:hover div {
  //background: linear-gradient(to right, var(--mat-teal), var(--mat-green));
  box-shadow: 0 0 .1em black;
}

.site-footer {
  font-size:.8em;
  color: #9E9E9E;
}
