:root {
  --mat-green: #4CAF50;
  --mat-dark-green: #388E3C;
  --mat-teal: #009688;
  --mat-cyan: #00BCD4;
  --mat-white: #F5F5F5;
  --mat-light-gray: #E0E0E0;
  --mat-dark-teal: #00796B;
  --mat-blue: #2196F3;
  --mat-red: #f44336;
  --mat-yellow: #FFC107;
  --mat-dark-yellow: #F57C00;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: var(--mat-white);
  color: #616161;
  margin: 0;
}

.page-header {
  text-align: center;
  background-color: #4CAF50;
  background: linear-gradient(var(--mat-teal), var(--mat-green));
  margin:0;
  padding: 1em;
}

.switch-testing {
  position: absolute;
  right:0;
  top:0;
  background-color: var(--mat-teal);
  color: var(--mat-white);
  padding: 1em;
  margin: 1em;
}

.project-name {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4em;
  margin: 0;
  color: var(--mat-white);
  text-shadow: 0 0 1em black;
}

.project-tagline {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.3em;
  color: var(--mat-white);
}

.main-content {
  padding: 1em;
  max-width: 60em;
  margin:auto;
  font-size: 1.3em;
}

.main-content h3 {
  color: var(--mat-dark-green);
  font-family: "Roboto", sans-serif;
}

.main-content {
  font-family: "Roboto Slab", serif;
  animation: slideUp .5s;
  position: relative;
}

@keyframes slideUp {
  0% {top:100px;
      opacity: 0;}
  100% {top:0;
        opacity: 1;}
}

a {
  text-decoration: none;
  color: var(--mat-teal);
}

a:hover {
  text-decoration: underline;
  color: var(--mat-dark-teal);
}

.available-lots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
}

.available-lots div {
  margin: 1em;

}

.available-lots .lot-thumb {
  width: 7em;
  height: 4em;
  flex: 1 1 auto;
  background-color: #4CAF50;
  text-align: center;
  padding: 1em;
  color: var(--mat-white);
  text-decoration: none;
  background: linear-gradient(to right, var(--mat-green), var(--mat-teal));
  transition: box-shadow .25s, padding .25s, transform .25s, top .25s;
  transform: perspective(10em);
}

.available-lots .lot-thumb span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.available-lots a:hover {
  text-decoration: none;
}

.available-lots a:hover .lot-thumb, .available-lots a:focus .lot-thumb{
  box-shadow: 0 0 .1em black;
  transform: perspective(10em) rotateX(30deg);
}

.peek {
  float:none;
  position:relative;
  text-align: center;
  color: var(--mat-white);
  //transform: perspective(17em) rotateX(-90deg);
  bottom:3.6em;
  padding:0;
  background-color: var(--mat-dark-teal);
  width: 9em;
  height:0;
  z-index: -1;
  transition: bottom .25s, height .25s;
}

.available-lots a:hover .peek, .available-lots a:focus .peek {
  //transform: perspective(17em) rotateX(-60deg);
  bottom:1em;
  height: 1.6em;
}

.spot-list-container {
  //background-color: #EEEEEE;
  //box-shadow: 0 0 1em black;
  padding: .1em;
  margin: .1em;
  transform: rotate(-1deg);
}

.spot-list {
  list-style-type: none;
  margin: 0;
  float:none;
}

.spot-list li {
  float:left;
  width: 1em;
  height: 2em;
  margin: .1em;
  background-color: var(--mat-light-gray);
}

.spot-list-key {
  list-style-type: none;
}

.spot-list-key li {
  width: 9em;
  padding: .5em;
  font-weight: 900;
  //background-color: var(--mat-light-gray);
}

.spot-list-key div {
  width: 1.8em;
  height: 1.8em;
  float: left;
  margin: .2em;
  background-color: var(--mat-light-gray);
}

.spot-list .spot-full, .spot-list-key .spot-full {
  background-color: var(--mat-red);
}

.spot-list .spot-empty, .spot-list-key .spot-empty {
  background-color: var(--mat-green);
}

.spot-list .yellow-striped, .spot-list-key .yellow-striped {
  background-color: var(--mat-yellow);
  background-image: repeating-linear-gradient(45deg, #FFFFFF, #FFFFFF 4px, rgba(1,1,1,0) 4px, rgba(1,1,1,0) 8px);
  box-shadow: inset 0 0 0 4px #FFC107;
}

.spot-list .handicap, .spot-list-key .handicap {
  background-color: var(--mat-blue);
}

.spot-list .handicap img {
  position: relative;
  top:5px;
  right: 2px;
}

.spot-list .blue-striped, .spot-list-key .blue-striped {
  background-color: var(--mat-blue);
  background-image: repeating-linear-gradient(45deg, #FFFFFF, #FFFFFF 4px, rgba(1,1,1,0) 4px, rgba(1,1,1,0) 8px);
  box-shadow: inset 0 0 0 4px #2196F3;
}

.spot-list .spacer-spot {
  background-color:rgba(0,0,0,0);
  cursor: default;
}

.spot-list a:hover .spacer-spot {
  background-color:rgba(0,0,0,0);
}

.spot-list a:hover li {
  opacity: .5;
}
/*
.spot-list a:hover .yellow-striped {
  background-color: var(--mat-dark-yellow);
  box-shadow: inset 0 0 0 4px #F57C00;
}

.spot-list a:hover .blue-striped {
  background-color: var(--mat-blue);
  box-shadow: inset 0 0 0 4px #2196F3;
}

.spot-list a:hover .handicap {
  background-color: var(--mat-blue);
}*/

#compass-rose {
  height: 3em;
  float:left;
  position:relative;
  top: 20em;
  left: 30em;
  z-index:2;
}

.detailed-info-box {
  background-color: var(--mat-light-gray);
  box-shadow:0 0 .5em black inset;
  padding:1em;
  width:20em;
  height:10em;
  display:none;
}

.building {
  background-color: var(--mat-light-gray);
  padding:5em;
  font-weight: 900;
  font-size: 1.3em;
  text-align: center;
}

#drift-build {
  width:35em;
  height:5em;
}

.large-button a:hover {
  text-decoration: none;
}

.large-button {
  text-align: center;
  width: 10em;
  margin: auto;
}

.large-button a div {
  background-color: #4CAF50;
  background: linear-gradient(to right, var(--mat-green), var(--mat-teal));


  padding: 1em;
  color: var(--mat-white);
  text-decoration: none;
  transition: box-shadow .25s, padding .25s;
}

.large-button a div img {
  position: relative;
  float:left;
  top:-.5em;
  left:-.3em;
}

.large-button a:hover div {
  //background: linear-gradient(to right, var(--mat-teal), var(--mat-green));
  box-shadow: 0 0 .1em black;
}

.site-footer {
  font-size:.8em;
  color: #9E9E9E;
}

@media screen and (min-width: 75em) {
  .page-header {
    padding: 4em;
  }
  .available-lots .lot-thumb {
    padding: 1em;
  }

  .available-lots .peek {
    //width: 9em;
  }

  .spot-list-container {
    padding: 1em;
    margin: 1em;
  }

  .spot-list {
    margin: auto;
  }
}
